body .bananer {
  border: 1px solid rgba(34, 85, 34, 0.3333333333);
  width: 100%;
  margin-top: 20px;
}
body .bananer .bananer-img {
  height: 400px;
}
body .bananer .bananer-img img {
  width: 100%;
  height: 100%;
}
body .Content {
  margin: 20px;
  margin-top: 450px;
}
body .Content .header {
  border-bottom: 3px solid #bfe0e3;
}
body .Content .header h2 {
  transition: 0.5s;
}
body .Content .header h2:hover {
  color: var(--main-color);
}
body .Content .paragrap {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  text-align: justify;
  font-size: 1.2rem;
}
